<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes Form</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


</head>
<body>
    <button id="nova-consulta-button">Nova consulta</button>
    <button id="novo-paciente-button">Novo paciente</button>

    <!-- Consultas Form -->
    <div id="pacientes-form-container">
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pacientes Form</h5>
                    <form id="pacientes-form">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nome" required>
                        </div>
                        <div class="form-group">
                            <label for="genero">Genero</label>
                            <input type="text" class="form-control" id="genero" required>
                        </div>
                        <div class="form-group">
                            <label for="nome_social">Nome Social</label>
                            <input type="text" class="form-control" id="nome_social">
                        </div>
                        <div class="form-group">
                            <label for="data_de_nascimento">Data de Nascimento</label>
                            <input type="date" class="form-control" id="data_de_nascimento" required>
                        </div>
                        <!-- Add other form groups for each field in the pacientes table -->
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="number" class="form-control" id="cpf" required>
                        </div>
                        <div class="form-group">
                            <label for="cep">CEP</label>
                            <input type="number" class="form-control" id="cep" required>
                        </div>
                        <div class="form-group">
                            <label for="cidade">Cidade</label>
                            <input type="text" class="form-control" id="cidade" required>
                        </div>
                        <div class="form-group">
                            <label for="bairro">Bairro</label>
                            <input type="text" class="form-control" id="bairro" required>
                        </div>
                        <div class="form-group">
                            <label for="endereco">Endereço</label>
                            <input type="text" class="form-control" id="endereco" required>
                        </div>
                        <div class="form-group">
                            <label for=complemento>Complemento</label>
                            <input type=text class=form-control id=complemento >
                        </div> 
                        <div class=form-group >
                            <label for=email>Email</label >
                            <input type=email class=form-control id=email required >
                        </div> 
                        <div class=form-group >
                            <label for=telefone >Telefone</label >
                            <input type=number class=form-control id=telefone required >
                        </div> 
                        <div class=form-group >
                            <label for=telefone2 >Telefone 2</label >
                            <input type=number class=form-control id=telefone2 >
                        </div> 
                        
                        <!-- Submit Button -->
                        <button type=submit class=btn btn-primary >Submit</button >
                    </form >
                </div>
            </div>
        </div>
    </div>

    <!-- Consultas Form -->
    <div id="consultas-form-container" style="display: none;">
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Consultas Form</h5>
                    <form  id="consultas-form">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nome2" required>
                        </div>
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="text" class="form-control" id="cpf2" required>
                        </div>
                        <div class="form-group">
                            <label for="especialidade">Especialidade</label>
                            <input type="text" class="form-control" id="especialidade" required>
                        </div>
                        <div class="form-group">
                            <label for="medico">Médico</label>
                            <input type="text" class="form-control" id="medico" required>
                        </div>
                        <div class="form-group">
                            <label for="data">Data</label>
                            <input type="date" class="form-control" id="data" required>
                        </div>
                        <div class="form-group">
                            <label for="horario">Horário</label>
                            <input type="time" class="form-control" id="horario" required>
                        </div>
    
                        <!-- Submit Button -->
                        <button type=submit class=btn btn-primary >Submit</button >
                    </form >
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function() {
  $('#pacientes-form').on('submit', function(event) {
    event.preventDefault();

    var formData = {
      nome: $('#nome').val(),
      genero: $('#genero').val(),
      nome_social: $('#nome_social').val(),
      data_de_nascimento: $('#data_de_nascimento').val(),
      cpf: $('#cpf').val(),
      cep: $('#cep').val(),
      cidade: $('#cidade').val(),
      bairro: $('#bairro').val(),
      endereco: $('#endereco').val(),
      complemento: $('#complemento').val(),
      email: $('#email').val(),
      telefone: $('#telefone').val(),
      telefone2: $('#telefone2').val()
    };

    $.ajax({
      url: '/client',  // Replace with your endpoint
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(formData),
      success: function(data) {
        console.log('Form submitted successfully.');
        alert('Form submitted successfully.');
        // Clear the form fields after successful submission
        $('#pacientes-form')[0].reset();
      },
      error: function(error) {
        console.log('Error:', error);
        alert('An error occurred. Please try again.');
        // Handle error...
      }
    });
  });
});

$(document).ready(function() {

    $('#nova-consulta-button').click(function() {
    // Hide the other forms
    $('#pacientes-form-container').hide();

    // Show the consultas form
    $('#consultas-form-container').show();
});

$('#novo-paciente-button').click(function() {
    // Hide the other forms
    $('#consultas-form-container').hide();

    // Show the pacientes form
    $('#pacientes-form-container').show();
});


  $('#consultas-form').on('submit', function(event) {
    event.preventDefault();

    var formData = {
      nome: $('#nome2').val(),
      cpf: $('#cpf2').val(),
      especialidade: $('#especialidade').val(),
      medico: $('#medico').val(),
      data: $('#data').val(),
      horario: $('#horario').val()
    };

    $.ajax({
      url: '/api/consultas_table',  // Replace with your endpoint
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(formData),
      success: function(data) {
        console.log('Form submitted successfully.');
        alert('Form submitted successfully.');
        // Clear the form fields after successful submission
        $('#consultas-form')[0].reset();
      },
      error: function(error) {
        console.log('Error:', error);
        alert('An error occurred. Please try again.');
        // Handle error...
      }
    });
  });
});


    </script>
</body>
    