<!-- password_reset.ejs -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Password Reset</title>
</head>
<body>
	<h1>Password Reset</h1>
	<% if (showSuccessMessage) { %>
		<div style="color: green;">Error: <%= successMessage %></div>
	<% } else if (showErrorMessage) { %>
		<div style="color: red;">Error: <%= errorMessage %></div>
	<% } %>
	<form method="post" action="/password-reset">
		<label for="email">Email:</label>
		<input type="email" name="email" id="email" required>
		<br><br>
		<input type="submit" value="Reset Password">
	</form>
</body>
</html>